body{
    text-align: left;
}
h2{
    background-color:#8080C0; 
    color:white; 
    text-align:center;
    font-size:32px;
    font-family:"Lucida Handwriting",cursive;
} //設定背景顏色,字的顏色,文字置中,文字大小,字體

a:visited {
    color: green;
}//超連結未被點選過時的顏色

a:hover {
    color: orange;
}//游標放在連結上時的顏色

a:active {
    color:blue;
}//點到時候的顏色

::selection {
    color: black;
    background: orange;
}//設定當文字被反白時的顏色
